/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* default HTML els */
    html {
         box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    /* set explicit height here so header block can be full height */
    html,
    body {
        width:100%;
        height:100%;
        padding:0;
        margin:0;
        position:relative;
    }

    body {
        background:#000;
        color:#fff;
        font-family:'Cousine Regular', Helvetica, sans-serif;
    }

    h1, h2, h3 {
        text-transform:uppercase;
        text-align:center;
        font-family:'Source Sans Pro', Helvetica, sans-serif;
        font-weight:normal;
    }

    h1 {
        font-size:1.5em;
        letter-spacing:0.5em;
        margin-bottom:2em;
    }

    h2 {
        font-size:2em;
        letter-spacing:0.5em;
        margin-bottom:2.5em;
        margin-top:0;
    }

    @media (max-width:800px) {
        h2 {
            margin-bottom: 1em;
        }
    }

    h3 {
        font-size:1.5em;
        letter-spacing:5px;
        margin-top:0;
        margin-bottom:1em;
    }

    p, ul {
        font-size:1em;
        margin:2em 0 1em;
        line-height:1.5em;
    }

    a {
        text-decoration:none;
        color:#ec5959;
        border-bottom:1px solid #000;
        padding-bottom:2px;
    }

    a:hover {
        border-bottom-color:#ec5959;
    }

/* page content */

    /* icons */

        .icon {
            width: 48px;
            height: 48px;
            fill: white !important;
        }

        .icon-inverse {
            fill: black !important;
        }

        .icon-centred {
            width: 100%;
        }

        .icon-large {
            height: 80px;
        }

        .icon-hero {
            height: 120px;
        }

        .container {
            max-width:1170px;
            padding:0 1.5em 1.5em;
            margin:0 auto;
            overflow:visible;
        }

        @media (min-width:600px) {
            .container {
                padding:2em;
            }
        }

        /* header */
            header {
                text-align:center;
                margin-bottom:2em;
                padding:1em;
            }

                .header-inner {
                    background:#ec5959;
                    color:#000;
                    height:100%; /* expandable on small screens. min-height not working in FF with display:table */
                    padding:60px 30px;
                    display:table; /* vertical centre */
                    width:100%;
                }

                .header-content {
                    display:table-cell;
                    vertical-align:middle;
                }

                header p {
                    max-width:330px;
                    margin-left:auto;
                    margin-right:auto;
                    margin-bottom: 30px;
                }

                @media (min-width:600px) {
                    header p {
                        margin-bottom: 40px;
                    }
                }

                header a {
                    color:#fff;
                    border-bottom-color:#ec5959;
                    padding-bottom:2px;
                }

                header a:hover {
                    border-bottom-color:#fff;
                }

                header .next {
                    color:#000;
                    font-size:5em;
                    border:none;
                }

                header .next:hover {
                    color:#444;
                }


        /* rows */
            .row {
                padding:2em 0;
            }


        /* section blocks */
            .block-container {
                margin:0 -2.5em;
            }

            .block {
                margin-bottom:2em;
            }

            .block__inner {
                padding:0 2.5em;
            }

            /* blocks - sized */

                /* third blocks */
                    @media (min-width:50em) { /* 800 / 16 */
                        .block--third {
                            vertical-align:top;
                            display:inline-block;
                            width:33%;
                        }
                    }

                /* half blocks */
                    @media (min-width:40em) { /* 640 / 16 */
                        .block--half {
                            vertical-align:top;
                            display:inline-block;
                            width:50%;
                        }
                    }


            /* row - skills */
                .row--skills { }


            /* row - comrades */
                .row--comrades { }

                .comrade h3 {
                    text-align:left;
                    padding-bottom:0.2em;
                    margin-bottom:0.4em;
                    border-bottom:1px solid #ec5959;
                }

                .comrade p {
                    margin-top:0;
                }


            /* row - work */
                .row--work { }

                .row--work .recently {
                    text-align:center;
                    margin-bottom:2em;
                }

                .row--work h3 {
                    text-align:left;
                    font-size:1em;
                    padding-bottom:0.2em;
                    margin-bottom:0.4em;
                    border-bottom:1px solid #ec5959;
                }

                .row--work em {
                    display:block;
                    color:rgba(255,255,255,0.8);
                }


            /* row - contact */
                .row--contact { }

                .row--contact p {
                    text-align:center;
                }

                .contact-btn {
                    display:inline-block;
                    background:#ec5959;
                    padding:10px 30px;
                    color:#fff;
                    border:none;
                }

                .contact-btn:hover {
                    background:#fff;
                    color:#ec5959;
                }


        /* footer */
            footer {
                padding:1em 1em 0 1em;
                margin-top:2em;
            }

            footer .footer-inner {
                padding:20px;
                background:#ec5959;
                min-height:60px;
            }

            footer p {
                margin:0;
                text-align: center;
            }


/* helper classes */
    .transition {
        -webkit-transition: all 500ms;
           -moz-transition: all 500ms;
             -o-transition: all 500ms;
                transition: all 500ms;
    }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
