/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles:opinionated defaults
   ========================================================================== */

html {
    color:#222;
    font-size:1em;
    line-height:1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background:#b3d4fc;
    text-shadow:none;
}

::selection {
    background:#b3d4fc;
    text-shadow:none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align:middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border:0;
    margin:0;
    padding:0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize:vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin:0.2em 0;
    background:#ccc;
    color:#000;
    padding:0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 * Fonts!
 */
    @font-face {
        font-family:'Source Sans Pro';
        font-weight:400;
        font-style:normal;
        font-stretch:normal;
        src:url('../fonts/source-sans-pro/sourcesanspro-regular.eot');
        src:url('../fonts/source-sans-pro/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
             url('../fonts/source-sans-pro/sourcesanspro-regular.woff') format('woff'),
             url('../fonts/source-sans-pro/sourcesanspro-regular.otf') format('opentype'),
             url('../fonts/source-sans-pro/sourcesanspro-regular.ttf') format('truetype');
    }

    @font-face {
        font-family:'Cousine Regular';
        font-weight:normal;
        font-style:normal;
        src:url('../fonts/cousine/cousine-regular-webfont.eot');
        src:url('../fonts/cousine/cousine-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/cousine/cousine-regular-webfont.woff2') format('woff2'),
             url('../fonts/cousine/cousine-regular-webfont.woff') format('woff'),
             url('../fonts/cousine/cousine-regular-webfont.ttf') format('truetype'),
             url('../fonts/cousine/cousine-regular-webfont.svg#cousineregular') format('svg');
    }


/* default HTML els */
    html {
         box-sizing:border-box;
    }
    *, *:before, *:after {
        box-sizing:inherit;
    }

    /* set explicit height here so header block can be full height */
    html,
    body {
        width:100%;
        height:100%;
        padding:0;
        margin:0;
        position:relative;
    }

    body {
        background:#000;
        color:#fff;
        font-family:'Cousine Regular', Helvetica, sans-serif;
    }

    h1, h2, h3 {
        text-transform:uppercase;
        text-align:center;
        font-family:'Source Sans Pro', Helvetica, sans-serif;
        font-weight:normal;
    }

    h1 {
        font-size:1.5em;
        letter-spacing:0.5em;
        margin-bottom:2em;
        padding-left:0.5em;
    }

    h2 {
        font-size:2em;
        letter-spacing:0.5em;
        margin-bottom:3em;
        margin-top:0;
        padding-left:0.5em;
    }

    @media (max-width:40em) { /* 640 / 16 */

        h2 {
            margin-bottom:1.5em;
        }
    }

    h3 {
        font-size:1.5em;
        letter-spacing:0.2em;
        margin-top:0;
        margin-bottom:1em;
    }

        h3.underlined {
            text-align:left;
            padding-bottom:0.25em;
            margin-bottom:0.75em;
            border-bottom:1px solid #ec5959;
        }

    p, ul {
        font-size:1em;
        margin:2em 0 1em;
        line-height:1.5em;
    }

    a {
        text-decoration:none;
        color:#ec5959;
        border-bottom:1px solid #000;
        padding-bottom:0.2em;
    }

    a:hover {
        border-bottom-color:#ec5959;
    }

    hr {
        margin:1em auto 0;
        max-width:4em;
    }

/* page content */

    /* icons */
        .icon {
            width:48px;
            height:48px;
            fill:white !important;
        }

        .icon-inverse {
            fill:black !important;
        }

        .icon-highlight {
            fill:#ec5959 !important;
        }

        .icon-centred {
            width:100%;
        }

        .icon-large {
            height:80px;
        }

        .icon-hero {
            height:120px;
        }

        .container {
            max-width:75em; /* 1200 / 16 */
            padding:0 1.5em 1.5em;
            margin:0 auto;
            overflow:visible;
        }

        @media (min-width:40em) { /* 640 / 16 */
            .container {
                padding:2em;
            }
        }

    /* lines on either side of a heading */
        .fancy-heading {
            line-height:0;
        }

        .fancy-heading span {
            display:inline-block;
            position:relative;
        }

        .fancy-heading span:before,
        .fancy-heading span:after {
            content:"";
            position:absolute;
            border-top:1px solid #666;
            top:0;
            width:1000px;
        }
        .fancy-heading span:before {
            right:100%;
            margin-right:1em;
        }
        .fancy-heading span:after {
            left:100%;
            margin-left:0.5em;
        }

        @media (max-width:40em) { /* 640 / 16 */

            .fancy-heading {
                line-height:inherit;
            }

            .fancy-heading span:before,
            .fancy-heading span:after {
                display:none;
            }
        }

    /* header */
        header {
            text-align:center;
            margin-bottom:1em;
            padding:1em;
        }

            .header-inner {
                background:#ec5959;
                color:#000;
                height:100%; /* expandable on small screens. min-height doesn't work in FF with display:table */
                padding:4em 2em;
                display:table; /* vertical centre */
                width:100%;
            }

            @media (max-width:40em) { /* 640 / 16 */
                .header-inner {
                    padding:2em 1em;
                }
            }

            .header-content {
                display:table-cell;
                vertical-align:middle;
            }

            header p {
                max-width:20em;
                margin-left:auto;
                margin-right:auto;
                margin-bottom:2em;
            }

            header a {
                color:#fff;
                border-bottom-color:#ec5959;
            }

            header a:hover {
                border-bottom-color:#fff;
            }

            header .next {
                border:none;
            }


    /* rows */
        .row {
            padding:3em 0;
            overflow:hidden;
        }


    /* section blocks */
        .block-container {
            margin:0 -2.5em;
        }

        .block {
            margin-bottom:0;
        }

        .block__inner {
            padding:0 2.5em;
        }

        @media (min-width:50em) { /* 800 / 16 */

            .block--third-left .block__inner {
                padding-left:2.5em;
                padding-right:1em;
            }

            .block--third-mid .block__inner {
                padding-left:1em;
                padding-right:1em;
            }

            .block--third-right .block__inner {
                padding-left:1em;
                padding-right:2em;
            }
        }

        /* blocks - sized */

            /* third blocks */
                @media (min-width:50em) { /* 800 / 16 */
                    .block--third {
                        vertical-align:top;
                        display:inline-block;
                        width:33%;
                    }
                }

            /* half blocks */
                @media (min-width:40em) { /* 640 / 16 */
                    .block--half {
                        vertical-align:top;
                        display:inline-block;
                        width:50%;
                    }
                }


        /* row - skills */
            .row--skills { }


        /* row - comrades */
            .row--comrades { }

            .comrade {
                margin-bottom:2em;
            }

            .comrade h3 {
                text-align:left;
                margin:-6px 0 0.25em;
            }

            .comrade__top {
                clear:both;
                overflow:hidden;
            }

            .comrade p {
                margin-top:0;
            }

            .comrade a {
                display:inline-block;
                margin-bottom:0.5em;
                padding-bottom:0;
            }

            .comrade img {
                width:30%;
                float:left;
                margin:0 1em 1em 0;
            }

            @media (min-width:40em) { /* 640 / 16 */
                .comrade img {
                    width:25%;
                }
            }

        /* row - work */
            .row--work { }

            .project h3 {
                font-size:1em;
            }

            .project p {
                margin-top:0;
            }

        /* row - endorsements */
            .row--endorsements { }

            .endorsement {
                margin-bottom: 1.5em;
            }

            .endorsement .block__inner {
                margin:0 0 2em;
            }

            .endorsement__quote p {
                display:inline;
            }

            .endorsement__quote span {
                color:#ec5959;
                font-family:"Source Sans Pro";
                font-size:3em;
                line-height:0;
                position:relative;
                bottom:-15px;
            }

            .endorsement__client {
                text-align:right;
                font-size:1em;
                margin:0;
            }


            .endorsement__client h3 {
                margin:inherit;
                font-size:inherit;
                font-weight:bold;
                text-align:inherit;
                margin-top:0.8em;
            }

            .endorsement__client h4 {
                margin:inherit;
                font-size:inherit;
                font-weight:normal;
                text-align:inherit;
            }

            /* Adjust column width */
                @media (min-width:50em) { /* 800 / 16 */
                    .endorsement .block__inner {
                        margin-left:20%;
                        margin-right:20%;
                    }
                }

                @media (min-width:40em) { /* 640 / 16 */
                    .endorsement .block__inner {
                        margin-left:10%;
                        margin-right:10%;
                    }
                }


    /* footer */
        footer {
            padding:1em 1em 0 1em;
        }

        footer .footer-inner {
            padding:2em 1em;
            background:#ec5959;
            min-height:3em;
        }

        footer p {
            margin:0;
            text-align:center;
        }

        footer p:first-child {
            padding-bottom:2em;
        }

        footer a.contact-btn {
            color:#fff;
            border-bottom-color:#ec5959;
        }

        footer a.contact-btn:hover {
            border-bottom-color:#fff;
        }

        footer .tagline a {
            color:#fff;
            cursor:pointer;
            border-bottom:1px dotted #fff;
        }

/* helper classes */
    .transition {
        -webkit-transition:all 500ms;
        -moz-transition:all 500ms;
        -o-transition:all 500ms;
        transition:all 500ms;
    }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display:none !important;
    visibility:hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip:auto;
    height:auto;
    margin:0;
    overflow:visible;
    position:static;
    width:auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility:hidden;
}

/*
 * Clearfix:contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content:" "; /* 1 */
    display:table; /* 2 */
}

.clearfix:after {
    clear:both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background:transparent !important;
        color:#000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow:none !important;
        text-shadow:none !important;
    }

    a,
    a:visited {
        text-decoration:underline;
    }

    a[href]:after {
        content:" (" attr(href) ")";
    }

    abbr[title]:after {
        content:" (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content:"";
    }

    pre,
    blockquote {
        border:1px solid #999;
        page-break-inside:avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display:table-header-group;
    }

    tr,
    img {
        page-break-inside:avoid;
    }

    img {
        max-width:100% !important;
    }

    p,
    h2,
    h3 {
        orphans:3;
        widows:3;
    }

    h2,
    h3 {
        page-break-after:avoid;
    }
}
